SUBSONIC_URL=http://host.docker.internal:5274
SUBSONIC_USERNAME=admin
SUBSONIC_PASSWORD=admin

TIDAL_CLIENT_ID=your_tidal_client_id
TIDAL_CLIENT_SECRET=your_tidal_client_secret
TIDAL_MAX_REQUESTS_PER_SECOND=1
TIDAL_PLAYLIST_0=your_tidal_playlist_id_0
TIDAL_PLAYLIST_1=your_tidal_playlist_id_1
TIDAL_PLAYLIST_2=your_tidal_playlist_id_2
TIDAL_PLAYLIST_3=your_tidal_playlist_id_3
TIDAL_PLAYLIST_4=your_tidal_playlist_id_4
TIDAL_PLAYLIST_5=your_tidal_playlist_id_5
TIDAL_PLAYLIST_6=your_tidal_playlist_id_6

LISTENBRAINZ_BASE_URL=https://api.listenbrainz.org/1/
LISTENBRAINZ_USERNAME=your_listenbrainz_username
LISTENBRAINZ_TOKEN=your_listenbrainz_user_token
LISTENBRAINZ_USER_AGENT=OctoSync/1.0

SYNC_INTERVAL_MINUTES=10
LISTENBRAINZ_PLAYLIST_0=daily-jams
LISTENBRAINZ_PLAYLIST_1=weekly-exploration
