SUBSONIC_URL=http://host.docker.internal:5274
SUBSONIC_USERNAME=admin
SUBSONIC_PASSWORD=admin

CSV_MOUNT_PATH=./playlists
CSV_BASE_PATH=/playlists

TIDAL_CLIENT_ID=
TIDAL_CLIENT_SECRET=
TIDAL_MAX_REQUESTS_PER_SECOND=1
TIDAL_PLAYLIST_0=
TIDAL_PLAYLIST_1=
TIDAL_PLAYLIST_2=
TIDAL_PLAYLIST_3=
TIDAL_PLAYLIST_4=
TIDAL_PLAYLIST_5=
TIDAL_PLAYLIST_6=

DEEZER_ACCESS_TOKEN=
DEEZER_MAX_REQUESTS_PER_SECOND=1
DEEZER_PLAYLIST_0=
DEEZER_PLAYLIST_1=
DEEZER_PLAYLIST_2=
DEEZER_PLAYLIST_3=
DEEZER_PLAYLIST_4=
DEEZER_PLAYLIST_5=
DEEZER_PLAYLIST_6=

LISTENBRAINZ_BASE_URL=https://api.listenbrainz.org/1/
LISTENBRAINZ_USERNAME=
LISTENBRAINZ_TOKEN=
LISTENBRAINZ_USER_AGENT=OctoSync/1.0
LISTENBRAINZ_PLAYLIST_0=daily-jams
LISTENBRAINZ_PLAYLIST_1=weekly-exploration

SPOTIFY_PLAYLIST_0=
SPOTIFY_PLAYLIST_1=
SPOTIFY_PLAYLIST_2=
SPOTIFY_PLAYLIST_3=
SPOTIFY_PLAYLIST_4=
SPOTIFY_PLAYLIST_5=
SPOTIFY_PLAYLIST_6=

SYNC_INTERVAL_MINUTES=720
