SUBSONIC_URL=http://host.docker.internal:5274
SUBSONIC_USERNAME=admin
SUBSONIC_PASSWORD=admin

APPLEMUSIC_COUNTRY_CODE=US
APPLEMUSIC_ENABLE_ANIMATED_COVER_SYNC=true
APPLEMUSIC_ANIMATED_ARTWORK_API_BASE_URL=https://artwork.m8tec.top
APPLEMUSIC_ANIMATED_MIN_VARIANT_RESOLUTION=700
APPLEMUSIC_ANIMATED_WEBP_QUALITY=30
APPLEMUSIC_FFMPEG_BINARY_PATH=ffmpeg
IMAGE_MAX_IMAGE_SIZE_MB=10
APPLEMUSIC_PLAYLIST_0=
APPLEMUSIC_PLAYLIST_1=
APPLEMUSIC_PLAYLIST_2=
APPLEMUSIC_PLAYLIST_3=
APPLEMUSIC_PLAYLIST_4=
APPLEMUSIC_PLAYLIST_5=
APPLEMUSIC_PLAYLIST_6=

CSV_MOUNT_PATH=./playlists
CSV_BASE_PATH=/playlists

DEEZER_MAX_REQUESTS_PER_SECOND=1
DEEZER_PLAYLIST_0=
DEEZER_PLAYLIST_1=
DEEZER_PLAYLIST_2=
DEEZER_PLAYLIST_3=
DEEZER_PLAYLIST_4=
DEEZER_PLAYLIST_5=
DEEZER_PLAYLIST_6=

LISTENBRAINZ_BASE_URL=https://api.listenbrainz.org/1/
LISTENBRAINZ_USERNAME=
LISTENBRAINZ_TOKEN=
LISTENBRAINZ_USER_AGENT=OctoSync/1.0
LISTENBRAINZ_PLAYLIST_0=daily-jams
LISTENBRAINZ_PLAYLIST_1=weekly-exploration
LISTENBRAINZ_DAILY_JAMS_IMAGE_PATH=Assets/DefaultCovers/ListenBrainz/DailyJams.png
LISTENBRAINZ_WEEKLY_EXPLORATION_IMAGE_PATH=Assets/DefaultCovers/ListenBrainz/WeeklyExploration.png

LASTFM_USERNAME=
LASTFM_MIX_IMAGE_PATH=Assets/DefaultCovers/LastFm/Mix.png
LASTFM_RECOMMENDED_IMAGE_PATH=Assets/DefaultCovers/LastFm/Recommended.png
LASTFM_PLAYLIST_0=mix
LASTFM_PLAYLIST_1=recommended

QOBUZ_PLAYLIST_0=
QOBUZ_PLAYLIST_1=
QOBUZ_PLAYLIST_2=
QOBUZ_PLAYLIST_3=
QOBUZ_PLAYLIST_4=
QOBUZ_PLAYLIST_5=
QOBUZ_PLAYLIST_6=

SPOTIFY_PLAYLIST_0=
SPOTIFY_PLAYLIST_1=
SPOTIFY_PLAYLIST_2=
SPOTIFY_PLAYLIST_3=
SPOTIFY_PLAYLIST_4=
SPOTIFY_PLAYLIST_5=
SPOTIFY_PLAYLIST_6=
SPOTIFY_LOCALE=en-US

TIDAL_CLIENT_ID=
TIDAL_CLIENT_SECRET=
TIDAL_MAX_REQUESTS_PER_SECOND=1
TIDAL_PLAYLIST_0=
TIDAL_PLAYLIST_1=
TIDAL_PLAYLIST_2=
TIDAL_PLAYLIST_3=
TIDAL_PLAYLIST_4=
TIDAL_PLAYLIST_5=
TIDAL_PLAYLIST_6=

YTMUSIC_GEO_LOCATION=US
YTMUSIC_PLAYLIST_0=
YTMUSIC_PLAYLIST_1=
YTMUSIC_PLAYLIST_2=
YTMUSIC_PLAYLIST_3=
YTMUSIC_PLAYLIST_4=
YTMUSIC_PLAYLIST_5=
YTMUSIC_PLAYLIST_6=

SYNC_INTERVAL_MINUTES=720
